@use "@/styles/foundation/variables" as *;
@use "@/styles/foundation/mixin" as mixin;

/* logo */
.c-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--logo-text-size);
  gap: 0.5em;
  &__text {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-700);
    letter-spacing: var(--tracking-none);
    white-space: nowrap;
  }
  &__mark {
    width: 1.5em;
    height: auto;
  }
}
