@use "sass:map";
@use "@/styles/foundation/variables" as *;
@use "@/styles/foundation/mixin" as mixin;
@use "@/styles/foundation/function" as function;

/* Header
   ----------------------------------------------------------------- */
.l-header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 101;
  &__inner {
    padding: 12px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    @include mixin.mq("md") {
      padding: 10px calc(5% + 64px) 10px 5%;
    }
    @include mixin.mq("lg") {
      padding: 24px 32px;
    }
  }

  &__logo {
    transition: 0.3s;
    --logo-text-size: #{function.rem(26)};
    @include mixin.mq("md") {
      --logo-text-size: #{function.rem(30)};
    }
    @include mixin.mq("lg") {
      --logo-text-size: #{function.rem(32)};
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__line {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: auto;
  }
  &__nav {
    display: none;
    @include mixin.mq("lg") {
      display: block;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }
    &-item {
    }
    &-link {
      font-weight: var(--font-weight-700);
      transition: color 0.3s, background-color 0.3s, border-color 0.3s;
      padding: 0.2em 1em 0.3em;
      border-radius: 2em;
      border: 1px solid transparent;
      &:hover,
      &--current,
      &:focus-visible {
        opacity: 1;
        color: var(--color-primary);
        background: var(--color-background-base);
        border-color: var(--color-primary);
      }
    }
  }
  &__icon-list {
    display: none;
    @include mixin.mq("md") {
      display: block;
    }
  }
}
