@use "sass:map";
@use "../foundation/variables" as *;
@use "../foundation/mixin" as mixin;

/* Main
   ----------------------------------------------------------------- */
.l-main-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  .l-breadcrumb {
    order: 1;
  }
  .l-hero {
    order: 2;
  }
  .l-container {
    order: 3;
  }
}
