@use "@/styles/foundation/mixin" as mixin;
/* Custom Splide Arrow
   ----------------------------------------------------------------- */
.c-customSplide-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: var(--spacing-3);
  @include mixin.mq("lg") {
    gap: var(--spacing-4);
  }
}
.c-customSplide-arrow {
  border-radius: 50%;
  border: 2px solid var(--color-text-base);
  display: grid;
  place-content: center;
  background-color: var(--color-neutral-100);
  color: var(--color-text-base);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  width: 3rem;
  height: 3rem;
  @include mixin.mq("lg") {
    width: 4rem;
    height: 4rem;
  }
  &:hover {
    background-color: var(--color-background-base);
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
  &__icon {
    width: 1.2rem;
    height: auto;
    @include mixin.mq("lg") {
      width: 1.5rem;
    }
  }
}
