@use "@/styles/foundation/mixin" as mixin;

/* ArticlesClient
   ----------------------------------------------------------------- */
.c-articles__filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-3) var(--spacing-4);
  margin-bottom: var(--spacing-8);
  @include mixin.mq("sm") {
    margin-bottom: var(--spacing-10);
  }
  @include mixin.mq("md") {
    flex-wrap: nowrap;
    margin-bottom: var(--spacing-12);
  }
  @include mixin.mq("lg") {
    margin-bottom: var(--spacing-14);
  }
  @include mixin.mq("md") {
    gap: var(--spacing-5);
  }
  &-search {
    
    width: 100%;
    flex-shrink: 1;
    @include mixin.mq("lg") {
      width: 50%;
    }
  }
  &-sort {
    flex-shrink: 0;
    margin-left: auto;
    @include mixin.mq("md") {
      margin-left: unset;
    }
  }
}
.c-articles__container {
  grid-template-columns:minmax(0, 1fr);
  gap:var(--spacing-7) var(--spacing-5);
  @include mixin.mq("sm") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include mixin.mq("md") {
  gap: var(--spacing-8) var(--spacing-6);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include mixin.mq("lg") {
  gap: var(--spacing-8) var(--spacing-7);

    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
