@use "@/styles/foundation/mixin" as mixin;
/* Form
   ----------------------------------------------------------------- */
.c-form {
  max-width: 960px;
  width: 100%;
  margin-inline: auto;
  &__item {
    padding-block: var(--spacing-5);
    border-bottom: 1px solid var(--color-neutral-400);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-3) var(--spacing-5);
    @include mixin.mq("lg") {
      padding-block: var(--spacing-6);
    }
  }
  &__label {
    flex-shrink: 1;
    font-weight: var(--font-weight-700);
    width: fit-content; 
    order: 2;
    @include mixin.mq("lg") {
      width: 220px;
    }
  }
  &__require {
    background-color: #f46d6d;
    color: var(--color-white);
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: var(--font-weight-700);
    padding: var(--spacing-1) var(--spacing-3);
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    width: 56px;
    order: 1;

  }
  &__textarea,
  &__textfield {
    flex-shrink: 0;
    width: 100%;
    padding: var(--spacing-3) var(--spacing-4);
    border: 1px solid var(--color-neutral-400);
    outline: none;
    transition: 0.3s;
    border-radius: 4px;
    order: 3;

    @include mixin.mq("lg") {
      width: calc(100% - 320px);
    }
    &:focus {
      border-color: var(--color-primary);
    }
  }
  &__textarea {
    resize: none;
    height: 200px;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-10);
    @include mixin.mq("md") {
      margin-top: var(--spacing-12);
    }
    @include mixin.mq("lg") {
      margin-top: var(--spacing-14);
    }
  }
  &__submit-button {
    border-radius: 3em;
    text-align: center;
    padding: 1.25em;
    display: block;
    @include mixin.setFont($weight: var(--font-weight-700));
    background-color: var(--color-btn-primary);
    border: 2px solid var(--color-btn-primary);
    color: var(--color-white);
    transition: color 0.3s, background-color 0.3s;
    width: 100%;
    max-width: 320px;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-text-base);
      opacity: 1;
    }
    &:disabled {
      background-color: var(--color-neutral-400);
      pointer-events: none;
    }
  }
  &__message {
    width: 100%;
    color: var(--color-error);
    font-weight: var(--font-weight-700);
    order: 4;

  }
}
