@use "@/styles/foundation/mixin" as mixin;
/* Card
   ----------------------------------------------------------------- */
.c-card {
  width: 100%;

  &__header {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: var(--spacing-3);
    @include mixin.mq("md") {
      margin-bottom: var(--spacing-4);
    }
  }
  &__link {
    display: block;
    &:hover {
      .c-card__thumbnail > img {
        scale: 1.08;
      }
    }
  }
  &__category-wrapper {
    position: absolute;
    z-index: 1;
    top: var(--spacing-4);
    left: var(--spacing-4);
  }
  &__thumbnail {
    aspect-ratio: 4 / 3;
    width: 100%;
    margin-bottom: var(--spacing-3);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-fifth);
    @include mixin.mq("md") {
      margin-bottom: var(--spacing-4);
    }
    > img {
      transition: 0.3s;
      object-fit: contain;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__emoji {
    aspect-ratio: 1/1;
    width: 100%;
    margin-bottom: var(--spacing-3);
    border-radius: 8px;
    text-align: center;
    place-content: center;
    font-size: 3.5rem;
    background: linear-gradient(
      135deg,
      var(--color-fifth),
      var(--color-tertiary)
    );
  }
  &__body {
    width: 100%;
  }
  &__title {
    width: 100%;
    font-weight: var(--font-weight-700);
    letter-spacing: var(--tracking-base);
    font-size: var(--typo-scale-3);
    &.line-clamp-1 {
      @include mixin.lineClamp(1);
    }
    &.line-clamp-2 {
      @include mixin.lineClamp(2);
    }
  }
  &__description {
    width: 100%;
    font-weight: var(--font-weight-700);
    letter-spacing: var(--tracking-base);
    font-size: var(--typo-scale--1);
    @include mixin.lineClamp(2);
  }
  &__period,
  &__time,
  &__technology-stack {
    color: var(--color-neutral-600);
    font-size: var(--typo-scale--2);
    font-weight: var(--font-weight-700);
    display: block;
  }
  &__period {
    margin-top: var(--spacing-2);
  }
  &__technology-stack {
    margin-top: var(--spacing-3);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-1);
    @include mixin.mq("md") {
      margin-top: var(--spacing-4);
    }
    &__item {
      // color: var(--color-base);
      color: var(--color-text-base);
      padding: 0.2em 0.75em 0.3em;
      border-radius: 2em;
      border: 1px solid var(--color-text-base);
      // background-color: var(--color-neutral-300);
      line-height: 1;
    }
  }
  &__zenn {
    display: flex;
    align-items: center;
    gap: 12px;
    &-logo {
      width: 56px;
      height: auto;
      display: block;
    }
  }
  &__liked-count {
    color: var(--color-neutral-500);
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
