@use "@/styles/foundation/mixin" as mixin;

/* Sort
   ----------------------------------------------------------------- */

.c-sort {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  &__close-button {
    display: grid;
    place-content: center;
    border-radius: 4px;
    transition: 0.3s;
    background-color: transparent;
    margin-left: auto;
    margin-bottom: var(--spacing-2);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--color-neutral-900);
    color: var(--color-white);
    cursor: pointer;
    &:hover {
      background-color: var(--color-background-primary);
    }
    &__icon {
      width: 16px;
      height: auto;
      display: block;
    }
  }
  &__order-button {
    gap: var(--spacing-2);
    padding-inline: var(--spacing-4) var(--spacing-3);
    padding-block: var(--spacing-3);
    border-radius: 4px;
    transition: 0.3s;
    background-color: transparent;
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-700);
    border: 2px solid var(--color-neutral-300);
    cursor: pointer;
    &:hover {
      border-color: var(--color-neutral-900);
      background-color: var(--color-background-base);
    }
    &__icon {
      height: auto;
      display: block;
      transition: 0.3s;
      width: 18px;
      &--asc {
        rotate: 180deg;
      }
    }
  }
}
.c-sort-select {
  position: relative;
  z-index: 10;
  font-weight: var(--font-weight-700);
  &__label {
    display: flex;
    gap: var(--spacing-2);
    padding-inline: var(--spacing-4) var(--spacing-3);
    padding-block: var(--spacing-3);
    
    border-radius: 4px;
    transition: 0.3s;
    background-color: transparent;
    align-items: center;
    // border: 2px solid transparent;
    border: 2px solid var(--color-neutral-300);
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-base);
      border: 2px solid var(--color-neutral-900);
    }
    &--active {
      background-color: var(--color-background-base);
      border: 2px solid var(--color-neutral-900);
    }
    &-icon {
      width: 22px;
      height: auto;
      display: block;
      @include mixin.mq("lg") {
        width: 24px;
      }
    }
  }
  &__area {
    position: absolute;
    bottom: -12px;
    right: 0;
    translate: 0 100%;
    z-index: 101;
    background-color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgb(var(--color-black-rgb) / 0.25);
    padding-block: var(--spacing-4) var(--spacing-3);
    padding-inline: var(--spacing-3);
    width: 274px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    &--active {
      visibility: visible;
      opacity: 1;
    }
  }
  &__item {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-3);
    border: 2px solid transparent;

    &:not(:last-child) {
      margin-bottom: var(--spacing-2);
    }
    &:hover {
      background-color: var(--color-background-base);
      border: 2px solid var(--color-neutral-900);
    }
    &--current {
      background-color: var(--color-background-base);
      border: 2px solid var(--color-neutral-900);
    }
  }
}
